python-dateutil
pandas
psycopg2-binary
mysqlclient
numpy
scipy
plotly
matplotlib
django-crispy-forms
django-filter
django-cors-headers
djangorestframework
django-debug-toolbar
ipython
django-extensions
django-allauth
python-dotenv
pytest
pytest-django
django-cacheops
redis
openpyxl
XlsxWriter
reportlab
